<!-- app/views/tasks/edit.html.erb -->
<h1>Edit Task</h1>

<%= form_with model: @task, local: true do |form| %>
  <div>
    <%= form.label :title, "Task Title" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :details, "Task Details" %>
    <%= form.text_area :details %>
  </div>

  <div>
    <%= form.label :completed, "Completed" %>
    <%= form.check_box :completed %>
  </div>

  <div>
    <%= form.submit "Update Task" %>
  </div>
<% end %>
